{% extends 'base.html.twig' %}
{% block title %}Register -
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="center-align">Tuduu</h1>
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3">
        <div class="card-panel hoverable">
          <h4 class="center-align">Register</h4>
          <div
            class="row">
            {# {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }} #}
            {{ form_start(form, {'method': 'POST', 'attr': { 'onsubmit': 'return validateForm()' }}) }}
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  {{ form_widget(form.firstName) }}
                  <label for="input-first-name">First Name</label>
                  <span class="red-text text-darken-2">
                    <b>{{ form_errors(form.firstName) }}</b>
                  </span>
                </div>
                <div class="input-field col s12">
                  {{ form_widget(form.lastName) }}
                  <label for="input-last-name">Last Name</label>
                  <span class="red-text text-darken-2">
                    <b>{{ form_errors(form.lastName) }}</b>
                  </span>
                </div>
                <div class="input-field col s12">
                  {{ form_widget(form.email) }}
                  <label for="input-email">Email</label>
                  <span class="red-text text-darken-2">
                    <b>{{ form_errors(form.email) }}</b>
                  </span>
                </div>
                <div class="input-field col s12">
                  {{ form_widget(form.password, { 'attr': { 'minlength': 6 } }) }}
                  <label for="input-password">Password</label>
                  <span class="red-text text-darken-2">
                    <b>{{ form_errors(form.password) }}</b>
                  </span>
                </div>
                <div class="input-field col s12">
                  {{ form_widget(form.securityCode, { 'attr': { 'minlength': 6, 'maxlength': 6 } }) }}
                  <label for="input-security-code">Security Code</label>
                  <span class="red-text text-darken-2">
                    <b>{{ form_errors(form.securityCode) }}</b>
                  </span>
                </div>
              </div>

              {# Loading component #}
              <div id="loading-component" class="hide">
                {{ include('shared/_loading.html.twig') }}
              </div>

              <button class="btn waves-effect waves-light" type="submit" name="action" style="width: 100%;">
                Register
              </button>
              <br/>
              <br/>
              <a href="{{path('users.login')}}" class="btn waves-effect waves-light blue-grey lighten-1" style="width: 100%;">Cancel</a>
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    function showLoader() {
      const element = document.getElementById("loading-component");
      element.classList.remove("hide");
    }

    function validateForm() {
      showLoader();
      return true;
    }
  </script>
{% endblock %}
